@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-50: #f5faeb;
  --color-primary-100: #e8f4d3;
  --color-primary-200: #d1e9a7;
  --color-primary-300: #b3d96e;
  --color-primary-400: #86B839;
  --color-primary-500: #71AC16;
  --color-primary-600: #57B233;
  --color-primary-700: #57B233BF;
  --color-primary-800: #3c9f16;
  --color-primary-900: #1a2805;
  --font-heading: var(--font-tilt-warp);
  --font-body: var(--font-satoshi);
}

@theme {
  --breakpoint-xs: 375px;
  --breakpoint-sm: 641px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1441px;
  --breakpoint-3xl: 1541px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    font-family: var(--font-satoshi);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}